<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Booking</title>
    <link rel="stylesheet" href="/css/template.css">


</head>

<body>

    <div class="container">
        <table class="table table-row-dashed table-row-gray-300 gy-7">
            <thead>
                <tr class="fw-bolder fs-6 text-gray-800">
                    <th>Commuter ID</th>
                    <th>Owner ID</th>
                    <th>Vehicle ID</th>
                    <th>Payment Status</th>
                    <th>Date</th>
                    <th>Feedback</th>
                    <th>Payment ID</th>
                    <th>Destination</th>
                    <th>Source</th>

                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <%=data.commuterid%>
                    </td>
                </tr>
            </tbody>


    </div>

</body>

</html>