<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/css/style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js

"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>
<title>CMRIT TRAVELLER</title>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">CMRIT TRAVELLER</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#" class="active">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Driver Profile</span>
        </a>
      </li>
      <li>
        <a href="/mybooking">
          <i class='bx bx-box'></i>
          <span class="links_name">
            Recent Rides</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-list-ul'></i>
          <span class="links_name">Payments</span>
        </a>
      </li>

      <li class="log_out">
        <a href="Login.jsp">
          <i class='bx bx-log-out'></i>
          <span class="links_name">Log out</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
        <i class='bx bx-search'></i>
      </div>

    </nav>

    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side">
            <pan type="button" onclick="document.getElementById('id01').style.display='block'">Add Vehicle</pan>


          </div>
          <!-- i class='bx bx-cart-alt cart'></i-->
        </div>

        <div class="box">
          <div class="right-side">
            <pan type="button" onclick="document.getElementById('id01').style.display='block'">Previous Records</pan>

          </div>
          <!-- i class='bx bxs-cart-add cart two' ></i-->
        </div>
        <div class="box">
          <div class="right-side">
            <pan type="button" onclick="document.getElementById('id03').style.display='block'">Commuter Details</pan>

          </div>
          <!-- i class='bx bx-cart cart three' ></i-->
        </div>
        <div class="box">
          <div class="right-side">
            <pan type="button" onclick="document.getElementById('id02').style.display='block'">Payment History</pan>

          </div>
          <!-- i class='bx bxs-cart-download cart four' ></i-->
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <h2>Incoming Requests</h2>
    </div>
    <div class="my-home-content">

      <div id="id01" class="w3-panel w3-green w3-display" style="display:none">
        <pan onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-display-topright">x</pan>

        <div class="sales-boxes">
          <div class="recent-sales box">

            <h2>VEHICLE</h2>
            <form class="form-inline" id="myForm">

              <div class="form-group">
                <label for="plateNo">PlateNumber:</label>
                <input type="PlateNumber" class="form-control" id="plateNo" placeholder="Enter PlateNumber"
                  name="plateNumber" placeholderalign="center">
              </div><br>
              <div class="form-group">
                <label for="mailid">Mail Id:</label>
                <input type="MailId" class="form-control" id="mailid" placeholder="Enter mailid" name="mailid"
                  align="left">
              </div><br>
              <div class="form-group">
                <label for="capacity">Capacity:</label>
                <input type="Capacity" class="form-control" id="capacity" placeholder="Enter Capacity" name="capacity"
                  align="right">
              </div><br>
              <div class="form-group">
                <label for="cost">Cost:</label>
                <input type="Cost" class="form-control" id="cost" placeholder="Enter cost per kilometer" name="cost">
              </div><br>
              <div class="form-group">
                <label for="vechiletype">Vehicle Type:</label>
                <input type="VechileType" class="form-control" id="vechiletype" placeholder="Enter vechile type"
                  name="vechileType">
              </div><br>
              <div class="form-group">
                <label for="vechiletype">Vehicle Name:</label>
                <input type="VechileName" class="form-control" id="name" placeholder="Enter vechile name" name="name">
              </div><br>
              <div class="form-group">
                <label for="brand">Brand:</label>
                <input type="Brand" class="form-control" id="brand" placeholder="Enter vechile brand" name="brand">
              </div><br>
              <div class="form-group">
                <label for="loaction">Location:</label>
                <input type="Location" class="form-control location-marker" id="location" placeholder="Enter location"
                  name="location">
                <button class='bx bx-been-here'></button>
              </div><br>
              <div> <label>Select Image File:</label><br>
                <input type="file" name="image">

              </div>

              <button type="submit" class="btn btn-Primary">Submit</button>

            </form>

          </div>
        </div>
      </div>


      <div id="id02" class="w3-panel w3-green w3-display" style="display:none">
        <pan onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-display-topright">x</pan>

        <div class="sales-boxes">
          <div class="recent-sales box">
            <h2>PAYMENT HISTORY</h2>
            <form class="form-inline" action="/action_page.php">
              <div class="form-group">
                <label for="paymentid">PaymentID:</label>
                <input type="Payment" class="form-control" id="Payment" placeholder="Transaction Number"
                  name="paymentid">
              </div><br>
              <div class="form-group">
                <label for="mode">Mode:</label>
                <input type="Mode" class="form-control" id="mode" placeholder="Enter Mode of payment" name="mode">
              </div><br>
              <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="Amount" class="form-control" id="amount" placeholder="Enter Amount to be paid "
                  name="amount">
              </div><br>
              <div class="form-group">
                <label for="paymentdate">PaymentDate:</label>
                <input type="PaymentDate" class="form-control" id="payment" placeholder="Enter Payment Date"
                  name="payment">
              </div><br>

              <button type="submit" class="btn btn-Primary">Submit</button>


            </form>

          </div>
        </div>
      </div>
      <div id="id03" class="w3-panel w3-green w3-display" style="display:none">
        <pan onclick="this.parentElement.style.display='none'" class="w3-button w3-red w3-display-topright">x</pan>

        <div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Date</th>
                <th scope="col">Customer</th>
                <th scope="col">Area</th>
                <th scope="col">Total Fare</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">02 Jan 2021</th>
                <td>Mark</td>
                <td>Pending</td>
                <td>Rs 24.55</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>


  </section>


  <script>
    let sidebar = document.querySelector(".sidebar");
    let sidebarBtn = document.querySelector(".sidebarBtn");
    sidebarBtn.onclick = function () {
      sidebar.classList.toggle("active");
      if (sidebar.classList.contains("active")) {
        sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
      } else
        sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
    }
  </script>

  <script>
    const form = document.getElementById('myForm');


    const submitForm = async () => {

      try {
        const formData = Object.fromEntries(new FormData(form).entries());
        axios.post('http://localhost:8000/vehicle', formData);
        alert('Form Submitted');
      } catch (error) {
        alert('An error occurred!')
      }

    }
    form.addEventListener('submit', submitForm);

    const locationMarker = document.querySelector('.location-marker');

    locationMarker.addEventListener('click', () => {
      navigator.geolocation.getCurrentPosition((position) => {
        const p = position.coords;
        locationMarker.value = `${p.latitude},${p.longitude}`;
      })
    })
  </script>

</body>

</html>